section {
height: 100vh;
  overflow-y: auto;

/* 
Additional styles */
}

body{
  background-color: whitesmoke;
}
footer{
  background-color: rgb(19, 23, 23);
  height:150px
}
footer h1{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  color:whitesmoke;
  font-family: 'Inter';
  
}
@media screen {
  footer h1{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    color:whitesmoke;
    font-family: 'Inter';
    font-size: 20px;
  }
}